<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
</head>
<body>

    <h1><a href="{{ url_for('post_detail', post_id=post.id) }}">{{ post['title'] }}</a></h2>
    <p>By {{ post['author'] }}</p>
    <p>{{ post['content'] }}</p>
    <ul>
        <h3>Comments</h3>
        {% for comment in post['comments'] %}
        <li>{{ comment }}</li>
        {% endfor %}
    </ul>
    <br>
    <!-- Use the post ID to tie the comment form to this specific post -->
    <form action="{{ url_for('comment', post_id=post.id) }}" method="post">
        <input type="text" name="comment" placeholder="Your comment" required>
        <button type="submit">Comment</button>
    </form>

    <a href="{{ url_for('index') }}">Back to home</a>
</body>
</html>
